// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  display: flex;
  justify-content: flex-start;
}